[Main-Settings]
host = 127.0.0.1
port = 8080

[SSH-Connection]
hostname = your.host.com
port = 22
username = user
password = pass

[SSH-Commands]
cmdStartMC = start command
cmdGetPIDMC = pid command
cmdStopMC = stop command

[PC-Places]
fran_places = place one,two,and three places
ester_places = one more,and finish

[MC-Actions]
start = start,launch,trigger
stop = stop,kill,take down

[IDs-Amazon]
id_fran = id1
id_ester = id2

[MAC]
fran_laptop =  xx.xx.xx.xx.xx.xx
ester_laptop = yy.yy.yy.yy.yy.yy
